@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Velvet&Vine</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
<header>
<header>
    <nav>
        <div class="menu">
            <a href="/"><img src="~/images/Logo.svg" class="logo" alt="logo"></a>

            <div class="nav-right-side">
                
                @if (SignInManager.IsSignedIn(User))
                {
                    <span class="user-greeting">Hello, @User.Identity.Name!</span>

                    @*SearchBar*@
                     <form asp-controller="Book" asp-action="Search" method="get" class="search-form">
                       <input type="text" name="query" placeholder="Search..." value="@ViewBag.SearchQuery">
                       <button type="submit" style="background:none; border:none; cursor:pointer; display:flex; align-items:center; padding:0;">
                       <ion-icon name="search-outline" style="color:#5CCCF9; font-size:22px;"></ion-icon>
                       </button>
                    </form>

                    @*Profile*@
                    @if (User.IsInRole("Author"))
                    {
                        <a href="/Author/Index" class="nav-icon"><ion-icon name="person-circle-outline"></ion-icon></a>
                    }
                    else if (User.IsInRole("Reader"))
                    {
                        <a href="/Reader/Index" class="nav-icon"><ion-icon name="person-circle-outline"></ion-icon></a>
                    }
                    <a class="nav-icon" href="/"><ion-icon name="home-outline"></ion-icon></a>
                    @*Log out*@
                    <a href="javascript:void(0)" id="logoutBtn" class="nav-icon"><ion-icon name="log-out-outline"></ion-icon></a>
                }
                else
                {
                    <a href="/Account/Login" class="logSignIn logIn">Log in</a>
                    <a href="/Account/Register" class="logSignIn signIn">Sign in</a>
                }

            </div>
        </div>
    </nav>
</header>


</body>
</html>
